.chartView {
  width: 1400px;
}

.chart {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 370px;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .chartView {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .chartView {
    width: 900px;
  }
}

@media screen and (max-width: 910px) {
  .chartView {
    width: 800px;
  }
}

@media screen and (max-width: 810px) {
  .chartView {
    width: 400px;
  }
}

@media screen and (max-width: 410px) {
  .chartView {
    width: 300px;
  }
}
