<div class="chartView">
  <div>
  <span>
    Interval:
    <select #intervalID (change)="onIntervalChange(intervalID.value)">
      <option *ngFor="let interval of CollectionInterval.AvailableValues">{{interval.key}}</option>
    </select>
    <label for="startTime">Begin: </label>
    <input id="startTime" type="datetime-local" [(ngModel)]="selectedStartTime">
    <label for="endTime">Ende: </label>
    <input id="endTime" type="datetime-local" [(ngModel)]="selectedEndTime">
  </span>
  </div>
  <div>
    <canvasjs-chart class="chart" [options]="chartOption"></canvasjs-chart>
  </div>

  <div class="sensorSelection">
  <span *ngFor="let selectedSensor of selectedSensors">
    <input type="checkbox" id="{{selectedSensor.name}}" [(ngModel)]="selectedSensor.selected"> <!--(change)="update()"-->
    <label for="{{selectedSensor.name}}">{{selectedSensor.name}}</label>
    <br>
  </span>
  </div>
  <div>
    <button (click)="update()">Update</button>
  </div>
</div>
